.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
}

.bar {
  fill: #e6842a;
}

.axis-label {
  fill: #635f5d;
  font-size: 2.5em;
}

.marks path {
  fill: none;
  stroke: rgb(150, 90, 90);
  width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marks circle {
  fill: rgb(150, 90, 90);
}
